<div class="dashboard-gutteritem padding20">
    <div class="dashboardnews">
        <h2 class="marginbottom5 floatleft">What's New?</h2>
        <p class="marginbottom5 floatright marginright10    ">March 2017</p>
        <div class="clearall"></div>
        <div class="margintop20">
            <h4>Brew Session</h4>
            <p>
                Fix bug in the brew session metric calculation. Add estimated ficnish date and racking information.
            </p>
        </div>
        <div>
            <h4>Recipe Finder</h4>            
            <p>
                We've added a new recipe search tool for finding the recipes you're looking for. <a href="/homebrew-recipe-finder">Check it out here</a>.
            </p>
        </div>
    </div>
</div>