@using Brewgr.Web
@{
    ViewBag.Title = "About Brewgr";
    ViewBag.Description = "Brewgr is a free online homebrew website and recipe calculator. Brewgr will show you what type of homebrew your recipe will create with homebrew calculations";
}

<div id="vw-about" class="container view">

    <div class="row">
        <div class="col">
            <h2 class="page-header">The idea for Brewgr is simple. </h2>
            <p>
                Brewgr was originally created by Jason Zimmerman and Matthew Marksbury in 2011. As homebrewers we were amazed at the lack of cloud based tooling for homebrew recipes. We decided to build a simple homebrewing website and community that is easy to use and empowers homebrewers to become better at making great tasting homebrew. If you ever have feedback or need assistance please send an email to <a href="mailto:brewgr@brewgr.com">brewgr@brewgr.com</a> and we will try to get back to you ASAP.
            </p>
            @*<p>
                Brewgr is now run by me, Jason Zimmerman. I try to keep up on requests and issues as quickly as I can. If you ever have feedback or need assistance please send an email to <a href="mailto:brewgr@brewgr.com">brewgr@brewgr.com</a> and I will try to get back to you ASAP.
            </p>*@
            <h3>More Information</h3>
            <p>
                <a href="@Url.Action("HowItWorks", "Root")" class="btn btn-success btn-lg">How It Works</a>
                <a href="@Url.Action("Features", "Root")" class="btn btn-success btn-lg">Features</a>
            </p>
        </div>
    </div>
</div>


