@using System.Diagnostics
@using System.Reflection
@using Brewgr.Web
@{
    ViewBag.Title = "Homebrew Website and Recipe Calculator Features";
}


<div id="vw-features" class="container view">

    <h3>Recipe Calculator and Recipe Builder</h3>

    <p>
        The homebrew recipe calculator and builder is the core of Brewgr, and we know how important this tool is in helping you and other
        homebrewers design high quality homebrew recipes. We've redesigned the recipe calculator and builder from the ground up, keeping
        the things that worked well, fixing the things that didn't work well, and added numerous new features. We've also paid special
        attention to performance to ensure that the recipe calculator and builder is fast and responsive.
    </p>

    <p>The following improvements and enhancements have been added:</p>

    <h4>Metric Units and Conversion</h4>
    <p>
        This has been one of the most requested features by users who don't want to use US standards of measure.  When building a recipe or
        cloning a new recipe, you can now easily switch back and forth between US and metric units easily, directly on the recipe calculator
        and builder while you build or edit your recipe.  All previously entered values will automatically convert when you switch between
        unit types.  Additionally, your recipe will be saved in the selected unit of measure so it remains consistent in the units you want
        to work with.
    </p>

    <a href="/img/features/Metric-Units.jpg" class="cboxElement group1" title="Easily switch between US or Metric Units"><img src="/img/features/Metric-Units.jpg" alt="Metric Units" class="full-width-img" /></a>


    <h4>
        Recipe Scaling
    </h4>
    <p>
        We know that everyone's brew setup is different.  Some brewers make 5 gallon batches while others make 10 gallon batches.  We also see
        lots of homebrewers making 1 gallon batches to test out ideas on a small scale.  Regardless of your setup, we now offer recipe scaling,
        which will automatically scale all of the ingredients on a recipe to match your target size.  This will surely make brewing recipes
        from other homebrewers much easier.
    </p>

    <a href="/img/features/Scale.jpg" class="cboxElement group1" title="Quickly scale recipes to any size"><img src="/img/features/Scale.jpg" alt="Scale Recipes" class="full-width-img" /></a>


    <h4>
        Easier Amount Selection
    </h4>
    <p>
        We had a lot of complaints about having to scroll through many drop down menus to enter the amounts for fermentable, hops and other stuff.
        Additionally, we previously limited entry of these values to whole numbers, causing some users to round up or down.  We've replaced the
        drop down menus with text boxes allowing you to directly enter the desired amount.
    </p>

    <a href="/img/features/Amount-Selection.jpg" class="cboxElement group1" title="Enter precise amounts by typing instead of scrolling"><img src="/img/features/Amount-Selection.jpg" alt="Metric Units" class="full-width-img" /></a>


    <h4>
        IBU Calculation Formulas
    </h4>
    <p>
        Up until now, we've calculated IBUs using a proprietary formula which draws upon Tinseth and Rager, but wasn't a recognized formula in
        the homebrewing community.  To provide consistency across multiple brewing software programs and to allow alternate IBU calculations,
        we added both Tinseth and Rager.  Simply choose the method you prefer when building your recipe, and switch between them to see their
        different IBU estimates in real time.
    </p>

    <a href="/img/features/IbuFormula.jpg" class="cboxElement group1" title="Choose your preferred IBU calculation formula"><img src="/img/features/IbuFormula.jpg" alt="Ibu Formulas" class="full-width-img" /></a>


    <h4>
        IBU Indicators
    </h4>
    <p>
        To help understand the bitterness and hop profile of your recipe, we've added an IBU indicator for each hop that you add to your recipe.
        As you make changes to your recipe, you'll see these IBU values go up or down, helping you to understand visually, where the bulk of
        the bitterness is coming from in your recipe.
    </p>

    <a href="/img/features/IBU-Indicators.jpg" class="cboxElement group1" title="See where your IBUs are coming from"><img src="/img/features/IBU-Indicators.jpg" alt="IBU Indicators" class="full-width-img" /></a>


    <h4>
        Hop Usages
    </h4>
    <p>
        We've changed how we categorize the usage of hops on a recipe by adding a few new options and consolidating a few others.  We've added
        First Wort and Flame Out as new options, and we've consolidated Primary and Secondary into Dry Hop.  If you choose First Wort, the boil
        minutes for that hop will automatically match the recipe boil time.  If you choose Flame Out, the minutes will automatically get set to 0.
        These minor changes will help provide better consistency with your recipes and prevent unintended entries that can lead to unexpected
        results in the final beer.
    </p>

    <a href="/img/features/Hop-Usages.jpg" class="cboxElement group1" title="New Hop Usges including First Wort and Flame Out "><img src="/img/features/Hop-Usages.jpg" alt="Hop Usages" class="full-width-img" /></a>


    <h4>
        Additional Units on Other Ingredients
    </h4>
    <p>
        Previously for other ingredients which included things like Irish Moss or Orange Peels, we had limited unit types, which prevented people
        from accurately representing the amount of specialty ingredients.  We've replaced the previous units with a more extensive list that better
        reflects the way in which you'd want to measure these ingredients.  Additionally, if you switch between US Standard and Metric units, we'll
        pick the best matching unit type in the selected measurement system and do the conversion for you automatically, saving you time having to
        lookup the conversion calculations.  Additionally, if you scale a recipe, we'll scale these ingredients too.
    </p>

    <a href="/img/features/units.jpg" class="cboxElement group1" title="More extensive unit types for other ingredients"><img src="/img/features/units.jpg" alt="Unit Types" class="full-width-img" /></a>


    <h4>
        Ingredient Sorting
    </h4>
    <p>
        In the previous version of our recipe calculator and builder, ingredients would get automatically sorted based upon their amounts, usages, etc.
        This seemed like a good idea at the time, but we quickly learned that the feature was getting in the way, so we scrapped it in this version
        and replaced it with a manual sorting option.  Simply put, your ingredients will stay in the order that you choose.  Each ingredient row can
        be dragged up or down to the ideal location.  The order you see when you save the recipe is the order you'll see when you look at it later.
    </p>

    <a href="/img/features/Sorting.jpg" class="cboxElement group1" title="Easily sort any ingredient list"><img src="/img/features/Sorting.jpg" alt="Sorting" class="full-width-img" /></a>


    <h4>
        Sticky Recipe Facts
    </h4>
    <p>
        Brewgr's recipe calculator and builder shows the Recipe Facts on the right side of the page, allowing you to see real time calculation changes
        as you build and tweak your recipe.  In the previous version, you would have to scroll up and down to see these calculations, because the
        Recipe Facts would remain at the top of the page when you were lower on the page.  We've changed this so that as you scroll down the page,
        the Recipe Facts follows you, preventing the need to scroll up and down as you build your recipe.
    </p>

    <a href="/img/features/Sticky-Facts.jpg" class="cboxElement group1" title="The Recipe Facts follow you as you build your recipe"><img src="/img/features/Sticky-Facts.jpg" alt="Sticky Facts" class="full-width-img" /></a>


    <h4>
        Performance
    </h4>
    <p>
        We've redesigned the recipe calculator and builder from the ground up, improving areas that were problematic in terms of performance.  The
        new homebrew recipe calculator and builder should be faster at loading, building recipes and saving.
    </p>

    <div class="bold">Updated Ingredient Lists</div>
    <p>
        Brewgr has always allowed for the entry of custom ingredients, yet we still received numerous suggestions to increase the number of ingredients
        available to choose.  We listened.  We spent a lot of time reviewing our current ingredient list, evaluating recipes with custom ingredients,
        and doing additional research on common and popular ingredients.  You'll be happy to find that our new ingredient lists are more extensive than
        in the previous versions.  Again, we think this will save you time and let you focus on building an awesome recipe.
    </p>

    <a href="/img/features/Ingredient-List.jpg" class="cboxElement group1" title="More Extensive Ingredient Lists"><img src="/img/features/Ingredient-List.jpg" alt="Ingredients" class="full-width-img" /></a>


    <h4>
        Ingredient Search
    </h4>
    <p>
        Another complaint we've received often is the difficulty in finding and selecting ingredients when building a recipe.  In the previous version,
        the only way to find an ingredient was to scroll through the list until you found it.  We had the ingredients alphabetized within categories,
        but we agree, it was challenging at times.  To remedy this problem, we removed the categories, alphabetized the lists, and added search
        functions.  Using the search function, you can type a few letters or a word, and the list will automatically filter, allowing you to quickly
        select the ingredient you are looking for.
    </p>

    <a href="/img/features/Ingredient-Search.jpg" class="cboxElement group1" title="Quickly find ingredients using the new filter option"><img src="/img/features/Ingredient-Search.jpg" alt="Ingredient Search" class="full-width-img" /></a>


    <h4>
        Comments on Brew Sessions
    </h4>
    <p>
        We've had the ability to comment on a Recipe for some time now, but we haven't had the option to leave comments on a brew session.  With this
        release you can now leave comments on brew sessions, either from the brew session page or from the homebrew dashboard.  We hope that the added
        collaboration option will help Brewgr users communicate more, helping everyone to become better homebrewers.
    </p>

    <a href="/img/features/brew-session-comments.jpg" class="cboxElement group1" title="Leave comments and discuss brew sessions"><img src="/img/features/brew-session-comments.jpg" alt="Brew Session Comments" class="full-width-img" /></a>

    <h4>
        Mash Steps
    </h4>
    <p>
        We have added the ability to add mash steps to your recipe. You can chose from the commonly used mash step types or create a
        custom mash step. As with all ingredients your steps will stay in the order that you choose.  Each mash step row can be dragged
        up or down to change the sort.  The order you see when you save the recipe is the order you'll see when you look at it later.

        <a href="/img/features/MashSteps.jpg" class="cboxElement group1" title="Add Mash Steps"><img src="/img/features/MashSteps.jpg" alt="Add Mash Steps" class="full-width-img" /></a>
    </p>

</div>
