@using Brewgr.Web.Core.Model
@model UserSettingsViewModel

@{
    ViewBag.Title = "Edit Profile";
}

<div id="vw-settings" class="container view">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-tab-1" data-toggle="tab">Personal Info</a></li>
                <li><a href="#tab-tab-2" data-toggle="tab">Password</a></li>
                <li><a href="#tab-tab-3" data-toggle="tab">Notifications</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-tab-1">
                    @Html.Partial("_PersonalInfo", Model)
                </div>
                <div class="tab-pane" id="tab-tab-2">
                    @Html.Partial("_ChangePassword", new ChangePasswordViewModel())
                </div>
                <div class="tab-pane" id="tab-tab-3">
                    @Html.Partial("_Notifications", Model)
                </div>
            </div>
        </div>
    </div>
</div>
