
<div class="compliment">
    <ul class="portfolio_list spacermin10">
        <li><span>&rarr;</span> <a href="@Url.Action("Calculators", "content", null, "http")@if (Request.QueryString["iframe"] == "1"){<text>?iframe=1</text>}">Homebrew Calculators</a></li>
        <li><span>&rarr;</span> <a href="@Url.Action("CalculatorsHydrometerTemp", "content", null, "http")@if (Request.QueryString["iframe"] == "1"){<text>?iframe=1</text>}">Hydrometer Correction</a></li>
        <li><span>&rarr;</span> <a href="@Url.Action("CalculatorsMashTunCapacity", "content", null, "http")@if (Request.QueryString["iframe"] == "1"){<text>?iframe=1</text>}">Mash Tun Capacity</a></li>
        <li><span>&rarr;</span> <a href="@Url.Action("CalculatorsMashSpargeWater", "content", null, "http")@if (Request.QueryString["iframe"] == "1"){<text>?iframe=1</text>}">Water Infusion</a></li>
    </ul>
    
</div>

