@{
    Layout = "~/Views/Shared/_LayoutNoShell.cshtml";
}

<div id="view-importbeerxml" class="container view">

    <div class="row">
        <div class="col-md-8">
            <h3>Import Recipe from Beer Xml</h3>
            <p>Choose the Beer Xml file from your computer and click "Import Recipe".</p>
            @using (Html.BeginForm("ImportBeerXmlDialog", "Recipe", FormMethod.Post, new { id = "ImportRecipeForm", target = "_parent", enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <input type="file" name="BeerXmlFile" id="BeerXmlFile" />
                </div>
                <input type="submit" id="ImportRecipeButton" class="btn btn-success btn-lg" value="Import Recipe" />
            }
        </div>
    </div>
</div>
